$background: #222;
$background2: #333;
$background3: #444;
$background4: #555;
$primary: #eee;
$secondary: #aaa;
$orange: #FFA200;
$blue:#018ADA;
* {
    margin: 0;
}

*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    font-family: "Mitr", sans-serif;
    background-color: $background;
    margin: 0;
    color: $primary;
}

.button {
    color: $primary;
    background-color: $background4;
    border: none;
    border-radius: 0.4rem;
    transition-duration: 0.3s;
    &:hover {
        background-color: #444;
    }
}

.home-page {
    display: none;
    height: 100%;
    &.active {
        display: block;
    }
}

.login-page {
    font-size: 1.6rem;
    width: 80%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -60%);
    &.active {
        display: block;
    }
}

.assignments-pinned {
    display: none;
    &.active {
        display: inline-block;
    }
}

.assignments-container {
    display: none;
    &.active {
        display: inline-block;
    }
}

.assignments-none {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    &.active {
        display: flex;
    }
    p {
        color: $secondary;
        font-size: 2rem;
    }
}

.loading {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    &.active {
        display: flex;
    }
    p {
        color: $secondary;
        font-size: 2rem;
    }
}

.loading-asmnt {
    display: flex;
    opacity: 0;
    align-items: center;
    margin-top: 1rem;
    &.active {
        opacity: 1;
    }
    p {
        color: $secondary;
        font-size: 1rem;
    }
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    background-color: $background2;
    padding: 1rem;
    img {
        height: 3rem;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin: 0;
            margin-left: 1rem;
            font-size: 1rem;
        }
    }
    button {
        margin-left: auto;
        height: 2.4rem;
        width: 5rem;
        font-size: 1.2rem;
        transition: .3s;
    }
}

.body {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    .assignments-pinned,
    .assignments-container {
        text-align: left;
        margin-bottom: 1rem;
        padding: 1rem;
        width: 50rem;
        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}

.filter {
    width: 35rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 0.4rem;
    label {
        width: 10rem;
        min-width: 10rem;
        font-size: 1.2rem;
        width: 10rem;
        color: $secondary;
    }
    select {
        width: 25rem;
        max-width: 25rem;
        height: 1.4rem;
        font-size: 1rem;
        border: none;
        border-radius: 0.3rem;
        background-color: $background3;
        color: $primary;
        outline: none;
        option {
            background-color: $background3;
            transition: 0.3s;
            &:hover,
            &:checked {
                background-color: $background2;
            }
        }
    }
}

.assignment {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    height: 5rem;
    background-color: $background;
    border-radius: 1rem;
    border-style: solid;
    border-color: $blue;
    border-width: 0.1rem;
    margin: 1rem;
    span {
        color: $primary;
        font-size: 1rem;
    }
    .detail-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        .cname {
            color: $secondary;
            font-size: 0.6rem;
        }
        input {
            height: 1.2rem;
            width: 30rem;
            background-color: $background2;
            border: none;
            border-radius: 0.2rem;
            color: $secondary;
            margin-top: 0.2rem;
        }
    }
    .date-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        width: 4rem;
    }
    .dots-container {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2rem;
    }
    .dot {
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        background-color: $primary;
        margin: 0.15rem;
    }
    .checkbox {
        cursor: pointer;
        position: relative;
        width: 4rem;
        input {
            opacity: 0;
        }
        .checkmark {
            position: absolute;
            top: 1.5rem;
            left: 1rem;
            height: 2rem;
            width: 2rem;
            background-color: $background3;
            border-radius: 0.6rem;
            border-style: solid;
            border-color: $blue;
            border-width: 0.1rem;
            box-sizing: border-box;
            transition: 0.3s;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

.checkbox:hover input~.checkmark {
    background-color: $background2;
}

.assignment input:checked~.checkmark {
    background-color: $orange;
    border-color: $orange;
}

.assignment input:checked~.checkmark:after {
    display: block;
}

.assignment .checkmark:after {
    left: 0.5rem;
    top: 0.1rem;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 0.3rem 0.3rem 0;
    transform: rotate(45deg);
}

.assignments-pinned .assignment {
    border-color: $orange;
}

section {
    margin: 20px 0;
}

.section-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px 0;
}

.section-subtitle {
    font-size: 1.1em;
}

.section-center {
    text-align: center;
}

.description {
    text-align: center;
    color: $secondary;
}

.info {
    font-size: 1em;
}

.login-button {
    text-align: center;
    width: 8rem;
    height: 4rem;
    font-size: 1.6rem;
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 10px;
    }
    .head {
        button {
            height: 2.5rem;
            width: 5rem;
            font-size: 1rem;
        }
    }
    .filter {
        width: 35rem;
        margin-top: 0.4rem;
        label {
            font-size: 1.2rem;
        }
    }
    .body {
        .assignments-pinned,
        .assignments-container {
            width: 95%;
        }
        .assignment {
            height: 6rem;
            margin: 0.2rem;
            span {
                font-size: 1.4rem;
            }
            .detail-name {
                .cname {
                    font-size: 0.8rem;
                }
                span {
                    display: block;
                    overflow: auto;
                    white-space: nowrap;
                    width: 28rem;
                }
                input {
                    height: 1.6rem;
                    width: 28rem;
                }
            }
            .date-time {
                width: 8rem;
                span {
                    font-size: 1.2rem;
                }
            }
            .dots-container {
                width: 0.4rem;
                opacity: 0;
            }
            .checkbox {
                width: 6rem;
                .checkmark {
                    top: 0.5rem;
                    left: 0.5rem;
                    height: 5rem;
                    width: 1.6rem;
                    border-radius: 0.6rem;
                }
            }
        }
        .assignment .checkmark:after {
            border: none;
        }
    }
}